:root {
  /* --backgroundColor: #323232; */
  /* --BrandBG: #272727; */
  /* --btn_N_activeTab: #881BBD; */
  --btn_N_activeTab: #871bbd;
  /* --TabInactive: #1a1a1a; */
  --TabInactive: #1e2029;
  --BrandBG: #16171d;
  --backgroundColor: #101014;
}
#root {
  width: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  background-color: var(--backgroundColor);
  font-family: "Montserrat", sans-serif;
}

a{
    color: inherit;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(55, 55, 55);
  border-radius: 20px;
  z-index: -1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(42, 42, 42);
}

.header {
  background-color: var(--BrandBG);
}

.HeaderContent {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.HeaderLeft {
  display: flex;
  gap: 20px;
  align-items: center;
}

.myPhoto {
  height: 90px;
}

.myPhoto > img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 2px solid white;
  position: static;
}

.myContent {
  color: white;
}

.myContent p {
  margin: 10px 0px;
}

.HeaderRight button {
  background-color: var(--btn_N_activeTab);
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  display: flex;
  gap: 10px;
  color: white;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.HeaderRight button:hover {
  transform: scale(1.05);
}

.socialIcons {
  display: flex;
  gap: 10px;
  height: 10px;
}

.socialIcons svg:hover {
  cursor: pointer;
}

.navBar {
  display: flex;
  padding: 10px 20px 0px 20px;
  justify-content: flex-start;
  /* background-color: blue; */
}

.tab {
  margin-right: 2px;
  padding: 12px 15px;
  min-width: calc(50% / 4);
  max-width: calc(80% / 4);
  /* height: 60%; */
  color: white;
  cursor: pointer;
  font-size: small;
  /* border-bottom: 4px solid transparent; */
  /* padding: 2px 20px; */
  text-align: center;
  background: var(--TabInactive);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.tabActive {
  background-color: var(--btn_N_activeTab);
  border: 1.5px solid rgba(208, 177, 255, 0.589);
  border-bottom: none;
  font-weight: 700;
}

.aboutContainer {
  margin: 20px;
  /* display: none; */
  padding: 20px;
  /* backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%); */
  /* background-color: rgba(17, 25, 40, 0.75); */
  border-radius: 12px;
  background-color: var(--TabInactive);
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: white;
}

.aboutContainer h1 {
  /* font-size: 3rem; */
  text-align: center;
  margin-bottom: 10px;
  font-weight: 600;
  /* font-size: x-large; */
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 0.2px solid rgba(128, 128, 128, 0.226);
}

.aboutContainer > p {
  font-size: medium;
  margin-bottom: 10px;
}

.aboutContainer > ul{
  margin-left: 20px;
}

.aboutContainer li:first-child{
  margin-top: 20px;
}

.aboutContainer li{
  margin-bottom:10px;
}

.aboutContainer li:last-child{
  margin-bottom:0px;
}

.linksContainer {
  display: flex;
  gap: 10px;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
  place-items: center;

  /* background-color: red; */
}

.linksContainer-LinkCol {
  display: flex;

  justify-content: space-evenly;
  align-items: center;
  /* gap: 10px; */
  height: 100%;
  /* margin-right: 20px; */
  width: 100%;
  /* border: 1px solid rgba(255, 255, 255, 0.5); */
}

.linksContainer-LinkCol p {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: medium;
  font-weight: 400;
  height: 100%;
  /* border: 1px solid rgba(255, 255, 255, 0.5); */
  padding: 0px 10px;
  transition: transform 0.2s ease-in-out;
}

.linksContainer-LinkCol p:hover {
  text-decoration: underline;
  transform: scale(1.07);
}

.linksContainer-LinkCol a {
  text-decoration: none;
  color: white;
}

.contentContainer {
  display: flex;
  border-radius: 20px;
  padding: 20px;
  /* border: 1px solid rgba(255, 255, 255, 0.5); */
  /* box-shadow: inset 4px 4px 8px rgba(255, 255, 255, 0.493),inset -4px -4px 8px rgba(255, 255, 255, 0.493); */
  flex-direction: column;
  margin: 0px 20px 40px 20px;
}

.Content {
  display: flex;
  width: 100%;
}

.Content:first-child {
  display: flex;
  width: 100%;
  padding-top: 20px;
  /* align-items: flex-start; */
}

.ContentLeft {
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ProgressLogo {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 50px;
  z-index: 2;
  background-color: white;
  /* display: none; */
}

.ProgressTop {
  width: 1px;
  height: 25px;
  background-color: white;
  /* display: none; */
}

.currentPlaceBlur {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 20px;
  filter: blur(10px);
  z-index: 0;
  animation: currentBlur 2s infinite;
  display: none;
}

@keyframes currentBlur {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.Progress {
  /* position: absolute; */
  width: 1px;
  height: 100%;
  background-color: rgb(255, 255, 255);
}
/* .ContentLeft:first-child{
    padding-top: 20px;
} */

.ContentRight {
  padding: 0px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.ContentRight h3 {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: medium;
}

.ContentRight h5 {
  font-weight: 500;
}

.ContentRight h6 {
  font-style: italic;
  font-weight: 600;
  /* margin-bottom: 20px; */
  color: rgb(178, 178, 178);
}

.ContentRight ul {
  margin-bottom: 30px;
}

.experienceSkills{
  max-width: 100%;
  display: flex;
}
.galleryflex{
  display: flex;
  align-items: center;
  gap:20px;
  margin-bottom: 30px;
}

.galleryflex svg{
  /* display: none; */
}

.eduGallery{
  display: flex;
  align-items: center;
  gap:30px;
  width: 100%;
  overflow-x: auto;
  background-color: rgba(216, 34, 34, 0);
  
}

.GalleryImg{
  display: flex;
  align-items: center;
  border-radius: 20px;
  height: 100px;
  width: 200px;
  background-color: blue;
}

.GalleryImg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.eduGallery::-webkit-scrollbar{
  display: none;
}

.lightboxWindow{
  background-color: rgba(2, 2, 2, 0.926);
  z-index: 1000;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0%;
  color: white;
  display: flex;
  flex-direction: column;
  /* display: none; */
}

.closebtn{
  height: fit-content;
  background-color: transparent;
  /* opacity: 20%; */
}

.ImageView{
  background-color: transparent;
  height:500px;
  padding: 0px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Image{
  background-color: transparent;
  height: 100%;
  width: 80%;
}

.Image>img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.Thumbnails{
  margin-top: 20px;
  height: 10%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.Thumbnails>img{
  width: 100px;
  height: 90%;
  border-radius: 10px;
  object-fit: cover;
}

.Content:last-child .Progress {
  display: none;
}

.Content:last-child .ContentRight {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.Content:last-child .ContentLeft {
  margin-bottom: 0;
  padding-bottom: 0;
}

.Content:last-child p {
  padding-bottom: 0;
  margin-bottom: 0;
}

.Content:first-child .currentPlaceBlur {
  display: block;
}

.projectHead {
  text-align: center;
  color: grey;
  font-size: xx-small;
  font-weight: 500;
  /* font-size: 1.5rem; */
  margin-top: 5px;
  font-style: italic;
}

.projectCategory {
  text-align: center;
  color: white;
  font-weight: 600;
  /* font-size: 1.5rem; */
  margin-top: 25px;
  font-style: italic;
}

.GridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  margin: 10px;
  border: 0.5px solid #474747;
  position: relative;
  width: calc(100% - 20px); /* Adjust width as needed */
  height: auto; /* Adjust height as needed */
  aspect-ratio: 3/2;
  border-radius: 10px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  /* box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); */
  color: white;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px #9a9a9a7f;
}

.card-overlay {
  background: linear-gradient(rgba(128, 128, 128, 0.091), rgb(26, 25, 26));
  position: absolute;
  /* z-index: 2; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.card-overlay-line {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
}
.card-overlay-line h3 {
  /* position: absolute; */
  /* bottom: 30px; */
  font-family: "Montserrat";
  align-self: flex-start;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  margin-left: 10px;
  margin-bottom: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card-overlay-line p {
  /* position: absolute; */
  bottom: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: x-small;
  color: #dfdfdf;
  font-family: "Montserrat";
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0px 50px 0px;
  padding: 0px 12.5%;
  justify-content: center;
  justify-self: center;
}

.tag {
  color: white;
  margin: 10px;
  width: fit-content;
  border-radius: 25px;
  border: 1.5px solid rgba(255, 255, 255, 0.272);
  background-color: var(--BrandBG);
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: default;
}

.SkillcolorBlur {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 20px;
  position: absolute;
  z-index: 0;
  filter: blur(2px);
  animation: blurExpand 3s ease-in-out infinite;
}

@keyframes blurExpand {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0.5);
  }
}

.Skillcolor {
  height: 10px;
  width: 10px;
  background-color: blueviolet;
  z-index: 2;
  border-radius: 20px;
}

#CSS {
  background-color: #6b399c;
}

#HTML {
  background-color: #e4552d;
}

#JS {
  background-color: #f7e025;
}

#React {
  background-color: #66dcfb;
}

#NodeJS {
  background-color: #6da368;
}

#ExpressJS {
  background-color: #ffffff;
}

#MongoDB {
  background-color: #45a33d;
}

#Python {
  background-color: #366e9b;
}

#Flask {
  background-color: brown;
}

#Git {
  background-color: red;
}

#MySQL {
  background-color: #087993;
}

#Figma {
  background-color: #f25425;
}

#Inkscape {
  background-color: #ffffff;
}

#Gimp {
  background-color: #555666;
}

#Canva {
  background-color: #0fbbd0;
}

.pageBanner {
  position: relative;
  width: 100%;
  height: 100px; /* Adjust height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.pageBanner > img:first-child {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* filter: blur(5px); */
  filter: brightness(0.09);
  z-index: 1;
}

.pageBanner > img:last-child {
  position: relative;
  z-index: 2;
  object-fit: contain;
   /* Adjust size as needed */
  height: 80%;
  width: 50%;
}

.contactFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 3;
  top: 0px;
  backdrop-filter: blur(5px);
  display: none;
}

.contactForm {
  padding: 20px 30px;
  height: 90svh;
  width: 80vw;
  background-color: var(--BrandBG);
  border-radius: 10px;
  box-shadow: 0px 0px 4px #871bbd6c;
}

.contactFormHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: white;
  padding-bottom: 10px;
  border-bottom: 0.5px solid rgba(245, 245, 245, 0.082);
  z-index: 100;
}

#closeBtn {
  cursor: pointer;
}

.form {
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Montserrat";
  color: white;
}

.form input {
  width: 100%;
  padding: 10px 10px;
  border: 1px solid #871bbd55;
  background-color: var(--backgroundColor);
  margin: 10px;
  border-radius: 20px;
  font-family: "Montserrat";
  color: white;
}

.form input textarea:required {
  border: 2px solid #cb3131;
}

.form textarea {
  width: 100%;
  padding: 10px 10px;
  border: 1px solid #871bbd55;
  background-color: var(--backgroundColor);
  margin: 10px;
  border-radius: 20px;
  max-width: 100%;
  max-height: 30svh;
  font-family: "Montserrat";
  color: white;
}

.form button {
  /* width: 100%; */
  padding: 10px 30px;
  color: white;
  border: 1px solid #871bbd55;
  background-color: var(--btn_N_activeTab);
  margin: 10px;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.form button:hover {
  transform: scale(1.1);
}

@media (max-width: 600px) {
  * {
    -webkit-tap-highlight-color: transparent;
  }
  .navBar {
    width: 100%;
    height: 60px;
    flex-direction: row;
    /* justify-content: space-around; */
    position: fixed;
    bottom: 0;
    background-color: var(--backgroundColor);
    /* background-color: var(--backgroundColor); */
    padding: 0px 0;
    z-index: 1000;
    margin: 0;
    /* transform: translateX(-20px); */

    .tab {
      background-color: transparent;
      flex-direction: column;
      /* font-size: 10px; */
      min-width: calc(100% / 4);
      margin: 0;
      flex: 1; /* Each tab will take equal space */
      border-radius: 0; /* Remove border-radius for footer-like appearance */
      padding: 10px 0;
      margin: 0px;
      gap: 2px;
    }

    .tab svg {
      fill: white;
      /* height: 40px;
    width: 40px; */
    }

    .tabActive {
      background-color: transparent;
      border: none;
      color: var(--btn_N_activeTab);
      /* background-color: #871bbdd1; */
      font-weight: 700;
      transition: font-weight 0.2s ease-in-out;
    }

    .tabActive svg {
      fill: var(--btn_N_activeTab);
      height: 100px;
      width: 100px;
      transition: height 0.2s ease-in-out;
    }
  }

  .header {
    width: 100%;
  }

  .HeaderContent {
    width: 100%;
    flex-direction: column;
    gap: 40px;
  }

  .HeaderLeft {
    width: 100%;
  }

  .myContent p {
    font-size: 3.5vw;
  }

  .contentContainer {
    margin: 0px;
  }

  .ContentLeft {
    padding-left: 0px;
  }

  .ContentRight {
    
    padding-right: 0px;
  }

  .experienceSkills{
    flex-direction: column;
  }

  .aboutContainer h2 {
    font-size: 50px;
  }

  .endSpace {
    height: 50px;
  }

  /* .form button:active{
    background-color: red;
  } */

  .form button:active {
    text-decoration: underline;
    /* animation: btnExpandContract 2s linear; */
  }

  .form button:hover {
    transform: none;
  }

  .eduGallery{
    flex-direction: column;
    gap: 10px;
  }

  .galleryFlex{
    flex-direction: column;
    /* width: 100%; */
    gap:2px;
  }

  .GalleryImg{
    width: 180px;
  }
  
}
